html
    head
        include partials/head.pug
        title= title
    body
        h1= message
        p.center= "Welcome to Neildor's server, it doesn't really do anything yet, but it might..."
        h2= currentTime 
        a(href="/downloadLogs")="Download Logs"
    include partials/foot.pug